{% load bootstrap5 %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                    <h1>{{ title_label|default:'title' }}</h1>
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if form %}
                            {% bootstrap_form form %}
                            {{ form }}
                            {% buttons %}
                                <button type="submit" class="btn btn-primary">
                                    {{ submit_label|default:"Submit" }}
                                </button>#
                            {% endbuttons %}
                        {% else %}
                            Check the form BABO
                        {% endif  %}
                    </form>
            </div>
        </div>
    </div>

    {% endblock %}

