{% extends 'base.html' %}
{% block content %}

<div class="text-center">
  <h1>{{ user.fullname }}의 마이페이지</h1>
  
  <p> {{ user.bio }} </p>

  <div class="text-center">
      <form action="{% url 'user:profile_update' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          첨부파일 : <input type="file" name="user_image" id="user_image" /><br>
          <button type="submit">프로필 사진 업로드</button>
      </form>
  </div><br>
<a href="/user/{{user.id}}/mypage/update/">
        <button>프로필 수정하기</button>
    </a>

  {% for post in user.post.all %}
  <ul>
      <a href="/post/{{ post.id }}">
          <li class="list-group-item">
              {{ post.title }}
          </li>
      {% endfor %}
      </a>
  </ul>
</div>

{% endblock %}